/*Abigail McKinney-Odasso css stylesheet*/

/*body style*/
body{

  background-color: OldLace;
  font-family:Centaur, "Century Gothic", Arial;
	font-size:14pt;
	font-size-adjust: auto;

}

/* anchor tag*/
a	{
  text-decoration: none;
	color:#4d2600;;
}

/*initial picture and heading of page*/
.container {

    position: relative;
    height: 50%;
    width: 70%;
    
    padding: 0px 0px 0px 0px;
    margin-left:auto;
    margin-right:auto;

}

.container > img {

    position: relative;
    height: 100%;
    width: 100%;
    padding:0px 0px 0px 0px;
    margin: 0 auto;   
    border: 5px dashed #f7a239;
      
}

.container > h1{

    margin: 0 auto;
    Background-color:BurlyWood;
    font-size:40px;
    text-align: center;
    padding: 20px 20px 20px 20px;
      
}
/*end initial picture and heading*/

/*navigation bar*/
.sidenav {

    height: 100%; 
  
}

/* The sidebar menu */
.sidenav {

    width: 160px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: BurlyWood; 
    overflow-x: hidden; 
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

  }
  
  /* The links within the menu*/
.sidenav a {

  padding: 2px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: OldLace;
  display: block;

}
  
  /* mouse over color change */
.sidenav a:hover {

  color: #f7a239;

}
  
  /* Style of page to make sure it doesnt overlap the nav bar */
.main {

  margin-left: 160px; 
  padding: 0px 10px;

}
  
  /*reactice to screen*/
@media screen and (max-height: 450px) {

  .sidenav {padding-top: 10px;}
  .sidenav a {font-size: 15px;}

}
  
  /*responsive to screen*/
.responsive {

  width: 100%;
  height: auto;

}

  /* nav bar text alignment*/
nav ul {

  padding: 0;

}
/*end of nav bar*/

/*Section tags*/
h2 {

	text-align:center
	padding-left:150px;

}

section {

  background-color: OldLace;
  height: auto;
  margin:0;
  text-align: center;

}
P {

  color:#4d2600;
  background-color: OldLace;
  text-align: center;
  padding-left:150px;
  margin-left:10pt;
  margin-right:10pt
  
}
/*end of section tags*/

/*list attribute for the courses*/ 
ul {

    color:#8a3610;
    background-color: OldLace;
    text-align: center;
    padding-left:150px;
    font-size: 12px;

  }
  /*end of list attribute for the courses*/ 

  /* grid elements*/
.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap:wrap;
  flex-flow:row wrap;
  justify-content:left;
  align-items: center;
  align-content:center;

}

.flex-item {
  padding: 5px;
  width: 400px;
  height: 200px;
  margin-left: 0px;
  line-height: 150px;
    
}
  /*end of grid elements*/

  /*carousel elements*/
.carousel-inner img {
  margin-left: 150px; 
}
   /*end carousel elements*/

   /*contact me form*/
form {
  margin-left: 150px; 
}
  /*end contact me form*/



