/*Abigail McKinney-Odasso css stylesheet*/

/*body style*/
body{
  background-color: OldLace;
  font-family:Centaur, "Century Gothic", Arial;
	font-size:14pt;
	
}

/* anchor tag*/
a	{
  text-align: left;
  text-decoration: none;
	color:#491D09;
}

a:hover { 
  color: black;
}
/*initial picture and heading of page*/
.container {
    height: 50%;
    width: 70%;
    margin: 0 auto;
}

.container > img {
  position: relative;
  height: 100%;
  width: 100%;
  padding:0px 0px 0px 0px;
  margin: 0 auto;   
  border: 5px dashed #f7a239;
}

.container > h1{
  margin: 0 auto;
  Background-color:BurlyWood;
  font-size:40px;
  text-align: center;
  padding: 20px 20px 20px 20px;
}
/*end initial picture and heading*/


.sidenav {
  height: 100%;
  width: 25%; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: BurlyWood; 
  overflow-x: hidden; 
  padding-top: 20px;
  flex-direction: row;
  justify-content: left;
  text-align:left;  
}
  
  /* The links within the menu*/
.sidenav a {
  padding: 2px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color:#491D09;
  display: block;
}
  
  /* mouse over color change */
.sidenav a:hover {
  color: black;
}
  
  /* Style of page to make sure it doesnt overlap the nav bar */
.headContainer {
  margin: 3% 0% 0% 5%;
  padding: 0% 0% 0% 13%;

}
  
  /*reactice to screen*/
@media screen and (max-width: 200px) {
  .sidenav {padding: 5px; width: auto; }
  .sidenav a {font-size: 15px; width: auto;}
}
  
  /*responsive to screen*/
.responsive {
  width: auto;
  height: auto;
}

  /* nav bar text alignment*/
nav ul {
  padding: 0;
}
/*end of nav bar*/

/*Section tags*/
h2 {
	text-align: left;
  margin: 0% 0% 0% 5%;
  padding: 0% 10% 3% 17%;
  color: #491D09;
}

section {
  background-color: OldLace;
  height: auto;
  margin: 5% 0% 0% 5%;
  padding: 3% 10% 0% 13%;
  text-align: center;
  }

P {
  color: black;
  background-color: OldLace;
  text-align: left;
  Width: 70%;
  margin-left: 22%;
}
/*end of section tags*/

/*list attribute for the courses*/ 
ul {
  color: #491D09;
  background-color: OldLace;
  text-align: left;
  padding-left:28%;
  letter-spacing: 1px;
  line-height: 28px;
}
  /*end of list attribute for the courses*/ 

  /* grid elements*/
.flex-container {
  display: flex; /* or inline-flex */
  flex-direction: row;
  flex-wrap:wrap;
  flex-flow:row wrap;
  justify-content:left;
  align-items: center;
  align-content:center;
}

.flex-item {
  padding: 5px;
  width: 400px;
  height: 200px;
  margin-left: 0px;
  line-height: 150px;
}
  /*end of grid elements*/


   /*contact me form*/
.form {
  margin-left: 5%; 
  padding: 0% 0% 3% 0%;
}
  /*end contact me form*/

.container1 {
    margin: 0 auto;
    padding-left: 15%;

}



